<div class="row">
    <div class="activity-wrapper col-xs-8 col-xs-offset-2">
        <div class="activity-box img-rounded">
            <div class="row">
                <div class="activity-body col-xs-8 col-xs-offset-2">
                    <form name="form" novalidate>
                        <div ng-if="!idPreloaded" class="form-group">
                            <label for="content">Compose a message</label>
                            <selectize config="recipientInputConfig" ng-model="msg.recipient"></selectize>
                            <p ng-show="errors.recipient" class="red-text">{{ errors.recipient[0] }}</p>
                        </div>
                        <div class="form-group">
                            <textarea required="" ng-model="msg.content" class="form-control" id="content" rows="3"
                                      placeholder="Type your message here"></textarea>
                            <p ng-show="errors.content" class="red-text">{{ errors.content[0] }}</p>
                        </div>
                        <button ng-click="send()" type="submit" class="btn btn-primary btn-sm pull-right">
                            Send
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>