<div class="row">
    <div class="profile-menu col-xs-2">
        <img ng-hide="user.avatar" src="img/face.jpg" alt="Avatar" width="48" height="48" class="img-circle center-block">
        <img ng-show="user.avatar" src="{{ user.avatar.photo.thumbnail }}" alt="Avatar" width="48" height="48" class="img-circle center-block">
        <div style="clear: both;"></div>
        <p><a ui-sref="site.user-board({id: user.id})">{{ user.first_name }} {{ user.last_name }}</a></p>
        <ul>
            <li ng-show="user.relationship_status == 'not_exists'">
                <a ng-click="invite()" href="#">Send invitation</a>
            </li>
            <li ng-show="user.relationship_status == 'accepted'">
                <small><i class="fa fa-check-circle-o"></i> Your Friend</small>
            </li>
            <li ng-show="user.relationship_status == 'invited'">
                <small>Invitation already sent.</small>
            </li>
            <li><a ui-sref="site.user-about({id: user.id})">Information</a></li>
            <li><a ui-sref="site.user-gallery({id: user.id})">Gallery</a></li>
            <li ng-show="logged.id != user.id"><a ui-sref="site.post-compose({id: user.id})">Private message</a></li>
        </ul>
    </div>
    <div class="activity-wrapper col-xs-8">
        <div class="activity-box img-rounded">
            <div class="row">
                <div class="gallery-albums col-xs-12">
                    <ul>
                        <li ng-repeat="album in albums track by $index" ng-class="{'active': $index == chosenAlbumIndex}">
                            <a ng-hide="$index == chosenAlbumIndex" ng-click="selectAlbum($index)" href="#">
                                {{ album.name }}
                            </a>
                            <span ng-show="$index == chosenAlbumIndex">{{ album.name }}</span>
                        </li>
                    </ul>
                    <div class="gallery-box">
                        <a ng-repeat="photo in photos" ng-href="{{ photo.photo.full_size }}" target="_blank">
                            <img ng-src="{{ photo.photo.thumbnail }}" width="200" height="200">
                        </a>
                        <div ng-hide="photos.length" class="nothing-here">
                            <p>Nothing here.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
