<div class="row">
    <div class="activity-wrapper col-xs-8 col-xs-offset-2">
        <div class="activity-box img-rounded">
            <div class="row">
                <div class="gallery-albums col-xs-12">
                    <small ng-show="albums.length">
                        <a ng-click="deleteAlbum()" href="#" class="manage-link pull-right">
                            <i class="glyphicon glyphicon-trash"></i> Delete
                        </a>
                    </small>
                    <small ng-show="albums.length">
                        <a ui-sref="site.gallery-create({id: albums[chosenAlbumIndex].id})" class="manage-link pull-right">
                            <i class="glyphicon glyphicon-pencil"></i> Edit
                        </a>
                    </small>
                    <ul>
                        <li ng-repeat="album in albums track by $index" ng-class="{'active': $index == chosenAlbumIndex}">
                            <a ng-hide="$index == chosenAlbumIndex" ng-click="selectAlbum($index)" href="#">
                                {{ album.name }}
                            </a>
                            <span ng-show="$index == chosenAlbumIndex">{{ album.name }}</span>
                            <li><a ui-sref="site.gallery-create" class="grey">
                                <small><i class="fa fa-plus"></i> Add album</small>
                            </a></li>
                        </li>
                    </ul>
                    <div class="gallery-box">
                        <div ng-repeat="photo in photos" style="display: inline-block;" class="image-container">
                            <a ng-href="{{ photo.photo.full_size }}" target="_blank">
                                <img ng-src="{{ photo.photo.thumbnail }}" width="200" height="200">
                            </a>
                            <div class="action-image-panel">
                                <small>
                                    <a ng-click="setThumbnail(photo.id)" href="#">
                                        <i class="fa fa-picture-o"></i> Set as Thumbnail
                                    </a>
                                </small>
                            </div>
                        </div>
                        <div ng-hide="photos.length" class="nothing-here">
                            <p>Nothing here.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
