body {font-family: 'Roboto', sans-serif; background-color: #F4F4F4; color: #4F4F4F;}
a {color: #966875;}
.navbar {min-height: 32px; background-color: #4F4F4F;}
.navbar-header > img {height: 32px; padding-left: 32px;}
ul.nav li a {color: #5C7A7C;}
.avatar-box a {color: #5C7A7C;}
.avatar-box a:hover {color: #5C7A7C;}
.btn-primary {background-color: #5C7A7C; border-color: #5C7A7C;}
.pager {margin: 10px 0;}

.toolbar .alert {margin-bottom: 0; margin-right: 1px; padding: 15px 10px 5px 10px; font-size: 9pt; display: inline-block; float: right; margin-top: -10px;}
.alert {margin: 0 5px 20px 5px; padding: 5px 10px 5px 10px; font-size: 14px;}

.glyphicon-cog {font-size: 26px;}
.toolbar {font-size: 18px;}

.activity-wrapper {margin-top: 5px; min-height: 350px;}
.messages-wrapper {margin-top: 5px; min-height: 200px;}
.activity-box {border: 0.5px solid #E4E4E4; margin-top: 5px; padding: 10px; background-color: white;}
.activity-header {border-right: 1px solid #E4E4E4;}
.activity-header img {margin-left: 15px;}
.activity-header p {margin: 2px 0 0 5px;}
.activity-body p.cite {font-family: 'Lora', sans-serif; font-style: italic;}
.activity-body p span {padding-left: 3px;}
.activity-body p.author {margin-bottom: 5px;}
.activity-body h5 {font-size: 16px; margin-bottom: 4px;}
.activity-body h5 a {color: #5C7A7C;}
.activity-body .photo-item {display: inline-block;}
.activity-body .more-box {background-color: #E4E4E4; height: 100px; width: 80px; margin-left: 4px; position: absolute; display: inline-block; font-size: 24px; text-align: center; vertical-align: middle; line-height: 110px; color: #966875;}

.profile-menu {margin-top: 10px; padding-right: 20px;}
.profile-menu img {float: right;}
.profile-menu p {text-align: right; margin-top: 3px;}
.profile-menu ul {padding-top: 10px;}
.profile-menu li {list-style-type: none; text-align: right; font-size: 16px; line-height: 30px;}
.profile-menu li a {color: #5C7A7C;}

.active {font-weight: 600;}

.pagination-wrapper {padding-left: 20px; padding-right: 20px;}

.footer {background-color: #E4E4E4; margin-top: 32px; padding: 50px 0 20px 0;}
.footer img {height: 32px;}
.footer i {font-size: 26pt;}

.nothing-here p {line-height: 300px; font-size: 24px; vertical-align: middle; text-align: center; color: #5C7A7C;}

.m-t-10 {margin-top: 10px;}