<link rel="stylesheet" href="styles/styles.css">

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-header">
        <img src="img/logo.png" alt="Logo">
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="avatar-box col-xs-2">
            <img ng-hide="logged.avatar" src="img/face.jpg" alt="Avatar" width="64" height="64" class="img-circle center-block">
            <img ng-show="logged.avatar" src="{{ logged.avatar.photo.thumbnail | assetURL }}" alt="Avatar" width="64" height="64" class="img-circle center-block">
            <p class="text-center"><a ui-sref="site.board">{{ logged.first_name }} {{ logged.last_name }}</a></p>
        </div>
        <div class="toolbar col-xs-8">
            <ul class="nav nav-pills">
              <li role="presentation"><a ui-sref="site.user-board({id: logged.id})">My Profile</a></li>
              <li role="presentation"><a href="#">Explore</a></li>
              <li role="presentation"><a ui-sref="site.post">
                  Post <span ng-show="logged.unread_messages_count" class="badge">{{ logged.unread_messages_count }}</span>
              </a></li>
            </ul>
            <form name="actionForm" novalidate>
            <div class="input-group">
                <input ng-model="actionInput.value" type="text" class="form-control" placeholder="{{ actionInput.placeholder }}">
                <span class="input-group-btn">
                    <button ng-click="actionButton.submitFn()" class="btn btn-default" type="submit">
                        {{ actionButton.label }}
                    </button>
                </span>
            </div>
            </form>
            <div ng-show="showSuccessBox" class="alert alert-success" role="alert">
                Your post has been successfully posted on your individual board.
            </div>
        </div>
        <div class="col-xs-2">
            <a uib-popover-template="settingsButton.templateUrl"
                    popover-is-open="settingsButton.isOpen"
                    popover-placement="bottom">
                <i class="glyphicon glyphicon-cog"></i>
            </a>
        </div>
    </div>
    <div ui-view="layout"></div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-9">
                <img src="img/zut.png" alt="ZUT"><br>
                <img src="img/uhk.png" alt="UHK" style="margin-top: 10px;">
            </div>
            <div class="col-xs-3">
                <img src="img/logo-dark.png" alt="Voyageur">
                <p>
                    Author: Piotr Skowronek<br>
                    <a href="mailto:piotreska@gmail.com">Contact me</a>
                </p>
            </div>
        </div>
    </div>
</div>